<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main>
                <h1>Merci pour votre message</h1>
                <p><%= prenom %> <%= nom %> de <%= ville %>,</p>
                <p>Nous avons bien reçu votre message et votre e-mail ( <%= email %> ) :</p>
                <p><%= msg %></p>
            </main>
        </div>
    </body>
</html>